/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url("root.css");

#gamesList {
  margin-top: 25px;
}

.gameEntry {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--white-container);
  padding: var(--gameEntry-padding-y) 25px;
  border-radius: 8px;
  border: 2px var(--white-d) solid;
  margin-bottom: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.gameEntry:hover {
  transform: translateY(-3px);
}

.gameEntry .gameDetails {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
}

.gameEntry .gameDetails .entryDate {
  color: var(--grey-666);
}

.playerDetails {
  display: flex;
  justify-content: space-between; /* Ensure space between players */
  align-items: center; /* Align items vertically centered */
  width: 100%;
}

.playerLeft {
  text-align: left; /* Align player left text to the left */
  clear: both;
}

.playerRight {
  text-align: right; /* Align player right text to the right */
  clear: both;
}

.gameResult {
  position: absolute;
  width: 50%;
  transform: translate(50%, 0);
  bottom: var(--gameEntry-padding-y);
  font-weight: bold;
  font-size: 1.1em;
  color: var(--deep-blue);
  white-space: nowrap; /* Prevent line breaks */
  text-align: center; /* Center the result text */
}

.gameEntry .playerLeft a,
.gameEntry .playerRight a {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: var(--deep-blue);
  transition: color 0.3s ease;
}

.gameEntry .title {
  display: inline-block;
  font-size: var(--small);
  padding: 0 4px;
  background-color: var(--red);
  color: white;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 600;
}

.gameEntry .playerRating {
  margin-left: 4px;
  font-weight: 600;
  font-family: "Rubik", sans-serif;
}

.deleteGameBtn {
  position: absolute;
  left: 100%;
  transform: translate(-45%, 37.5%);
  width: 40px;
  height: 40px;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  opacity: 0; /* Initially hidden */
  padding: 5px;
  transition: background-color, color, transform 0.1s;
  background-color: var(--white-container);
  color: var(--deep-blue);
  font-size: 1.25em;
  border-radius: 50%;
}

.gameEntry:hover .deleteGameBtn {
  opacity: 1; /* Visible on hover */
  transform: translate(-50%, 37.5%);
}

.deleteGameBtn:hover {
  background-color: var(--deep-blue);
  color: #fff;
}

.gameEntryLink {
  text-decoration: none;
  color: inherit;
  display: block;
  margin-bottom: 15px;
}

.gameEntryLink:hover {
  text-decoration: none;
}

.gameTime {
  font-weight: 600;
  font-family: "Rubik", sans-serif;
}

.tournamentHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s;
  color: var(--deep-blue);
  padding: 10px 25px;
  margin-bottom: 10px;
  border-top: var(--deep-blue-light) 2px solid;
  border-bottom: var(--deep-blue) 2px solid;
}

/*.tournamentHeader:hover {
  padding-left: 10px;
}

.tournamentHeader .dot {
  transition: all 0.3s;
}

.tournamentHeader:hover .dot {
  font-size: 1.5em;
}*/

.tournamentSection {
  margin-bottom: 25px;
}

.gameRound {
  font-weight: 700;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  margin-right: 10px;
  padding: 4px 6px;
  border-radius: 100px;
  color: var(--white-container);
  background-color: var(--deep-blue);
}

#search {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--small);
  width: 100%;
}

#searchInput {
  width: 100%;
}

#searchSettings {
  display: block;
  z-index: 10;
  width: calc(1.5 * var(--medium));
  height: calc(1.5 * var(--medium));
  font-size: var(--normal);
  color: var(--deep-blue);
  cursor: pointer;
  transition: all 0.2s ease;
}
